<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="EmployeeDB"
			 connectionString="Data Source=localhost;Initial Catalog=StudentDB;Integrated Security=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<appSettings>
		<add key="LogFilePath" value="C:\Logs\EmployeeLog.txt" />
	</appSettings>

	<system.diagnostics>
		<sources>
			<source name="Serilog">
				<listeners>
					<add name="SerilogSink" />
				</listeners>
			</source>
		</sources>
	</system.diagnostics>
</configuration>
